body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  background: #FFF;
}

.banner {
  height: 600px;
  background-image: url(./images/Banner\ Image.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
  background-position: center;
}

.banner-info {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* card section */

.card{
  text-align: center;
}

.card-info {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}

.card-descrip {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.card-catagoris {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
